fieldset
{
  font-family: Helvetica, sans-serif;
  font-size:18px;  
  background-color:#767785;
  border: 1px solid rgb(255,232,57);
  border-radius: 5px;
  width: 700px;
  margin:auto;
}

.Form
{
  margin-bottom:0px;
  margin-left:16px;
}

body {
	background-color: #4a58d9;
	}
	
#submit {
font-family: Tahoma, sans-serif;
font-size: 1em;
text-align: center;	
margin: auto;
}

h2 { 
    color: #9c114f;
	text-align: center;
